html, body {
    height: 100%;
}

/* Scale canvas with resize attribute to full size
canvas[resize] {
    width: 100%;
    height: 100%;
} */
#drawsvg{
    width:70%;
    height:90%;
    background: lightgray;
}
.foreign {
    text-align: left;
    /* magically made the div fit the text */
}
.divinforeign {
    display: inline-block;  
}
#pagenav {
    list-style: none;
}