html, body {
    height: 100%;
}

/* Scale canvas with resize attribute to full size
canvas[resize] {
    width: 100%;
    height: 100%;
} */
#drawsvg{
    width:70%;
    background: lightgray;
}
.foreign {
    text-align: left;
    /* magically made the div fit the text */
}
.divinforeign {
    display: inline-block;  
}

.divinforeign p {
    width: 350px;
    /* display: block; */
    white-space: pre-wrap;
}
#pagenav {
    list-style: none;
}

.blockheader {
    font-weight: bold;
    width: 300px;
    font-size: 1.3rem;
}

.defheader {
    text-align: center;    
}


i {
    background-color: darkturquoise;
}