extends index

block includeScripts
  link(rel='stylesheet' href='../style.css')
  script(type='text/javascript' src= '../js/snap.svg.js')
  script(type='text/javascript' src= '../js/menu.js')

block content
  br
  br
  
  svg#drawsvg
  script(src="../js/draw-svg.js")