extends root

block includeScripts
  link(rel='stylesheet' href='../style.css')
  link(rel='stylesheet' href='../tribute.css')
  script(type='text/javascript' src= '../js/snap.svg.js')
  script(type='text/javascript' src= '../js/tribute.min.js')
  script(type='text/javascript' src= '../js/controls.js')

block content
  br
  br
  
  svg#drawsvg
  script(src="../js/block.js")
  script(src="../js/theorem.js")
  script(src="../js/definition.js")
  script(src="../js/editor.js")