extends layout

block includeScripts
  link(rel='stylesheet' href='../style.css')
  script(type='text/javascript' src= '../js/snap.svg.js')

block map
  br
  br
  
  svg#drawsvg
  script(src="../js/block.js")
  script(src="../js/theorem.js")
  script(src="../js/map-viewer.js")